section {
    /* border: 4px solid green; */
}

body {
    display: flex;
    flex-direction: column;
    border: 10px solid blue;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    border: 10px solid pink;
}

inner {
    display: block;
    border: 4px solid orange;
    padding: 20px;
    width: 98%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.image-box {
    display: block;
}

img {
    display: flex;
    width: 100%;
    height: auto;
    min-width: 500px;
}

.welcome-box {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.welcome-box .text-box {
    display: block;
}

.welcome-box .image-box, .welcome-box .text-box {
    flex-basis: 50%;
}

.loud-voice {
    font-size: 48px;
    font-style: extra-bold;
}

.calm-voice {
    line-height: 1.6;
    font-size: 1rem;
}

.button {
    display: inline-block;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 6px;
}

.welcome {
    background-color: #1F2937;
    color: #F9FAF8;
}